body {
    width: 1280px;
    margin: auto !important;
}
.ramda a {
    font-size: 50px;
    margin: 60px 0 60px 0px;
    text-decoration: none;
    color: black;
}
.ramda span {
    color: #63d1ff;
}
.navigation li {
    padding: 35px;
    display: inline-block;
    text-decoration: none;
  }
.header {
    background-color: #35444f;
}
.header a {
    font-size: 25px;
    color: #ffff;
    text-decoration: none;

}
.header li:hover {
    background-color: #222f3a;
}
.header {
    text-align: center;
}
.left_menu {
    display: inline-block;
    border: 1px solid black;
    padding: 0;
    display: inline-block;
    float: left;
    margin: 0;

}
.left_menu a {
    text-decoration: none;
    font-size: 22px;
    color: black;
}
.left_menu li{
    list-style: none;
    padding: 25px 85px 20px 20px;
}
.left_menu li:hover {
    background-color: #dbdbdb;
}

.blok1 {
    display: inline-block;
    width: 24%;
    vertical-align: top;
}
.foto  {
    display: inline-block;
    border: 1px solid black;
    width: 75%;
    padding: 100px 0;
    text-align: center;
}
.text {
    display: inline-block;
    width: 70%;
    float: right;
    padding-right: 40px;
}
.foto:hover img{
    transition: 0.4s ease;
    transform: scale(1.05);
}
.footer li  {
    display: inline-block;
    text-align: center;
    list-style: none;
    padding: 30px 30px 30px 30px;
}
.footer a {
    text-decoration: none;
    color: black;
    font-size: 22px;
}
.clear {
    clear: both;
}
.footer {
    background-color: #b4b7ba;
}
.footer  li:last-child {
    padding: 0 0 0 200px;
}
.footer a:hover {
    text-decoration: underline;
    color: #3181a6;
}
.blok1 a {
    display: block;
}
